set timeout=10
set default=0

menuentry "EduOS" {
    echo "Initializing..."
    insmod all_video
    insmod iso9660
    insmod part_msdos
    insmod part_gpt
    
    echo "Loading kernel..."
    # 直接使用 (cd) 设备加载，不使用 search
    # Multiboot1 需要内核加载到 0x100000，这是我们 linker.ld 设置的地址
    multiboot (cd)/boot/kernel.elf
    
    echo "Booting..."
    boot
}
